* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

.js-slider {
  margin: auto;
}

.slider__container {
  font-size: 0;
  white-space: nowrap;
  position: relative;
  padding: 0 50px;
  margin: auto;
  width: 400px;
  height: 300px;
  border: 1px red solid;
  /* overflow: hidden; */
}

.slider__button {
  z-index: 1;
  content: "";
  height: 100%;
  width: 50px;
  background-color: green;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.slider__button-back {
  left: 0;
}

.slider__button-next {
  right: 0;
}

.slider__window {
  position: relative;
  height: 100%;
  width: 100%;
}

.slider__content-wrapper {
  position: absolute;
  left: 0;
  height: 100%;
  width: 500%;
}

.content-wrapper__item {
  height: 100%;
  width: 20%;
  font-size: 50px;
  display: inline-block;
  vertical-align: middle;
}

.content-wrapper__item:nth-of-type(odd) {
  background-color: blue;
}

.item {
  position: relative;
}

.item__content {
  position: absolute;
  font-size: 150px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
